@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

.logoUP {
  padding-top: 100px;
  padding-left: 667px;
}

.formEMAIL2 {
  display: flex;
  padding-top: 50px;
  padding-left: 400px;
  font-size: 20px;
}

.formNickname2 {
  display: flex;
  padding-top: 20px;
  padding-left: 400px;
  font-size: 20px;
}

.formID2 {
  display: flex;
  padding-top: 20px;
  padding-left: 400px;
  font-size: 20px;
}

.formNewPW2 {
  display: flex;
  padding-top: 20px;
  padding-left: 400px;
  font-size: 20px;
}

.formPWAgain2 {
  display: flex;
  padding-top: 20px;
  padding-left: 400px;
  font-size: 20px;
}

.inputEMAIL3 {
  margin-left: 94px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 20px;
}

.inputNickname3 {
  margin-left: 94px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 20px;
}

.inputID3 {
  margin-left: 94px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 20px;
}

.inputNewPW3 {
  margin-left: 75px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 20px;
}

.inputPWAgain3 {
  margin-left: 32px;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 20px;
}

.buttonID2 {
  width: 136px;
  height: 40px;
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
}

.buttonPWAgain2 {
  width: 136px;
  height: 40px;
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
}

.buttonPWAgain {
  width: 136px;
  height: 40px;
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
}

.done {
  width: 130px;
  height: 40px;
  margin-left: 700px;
  margin-top: 80px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.error2 {
  color: red;
  position: absolute;
  padding-left: 548px;
  font-size: 15px;
}